{% block content %}
<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}

      <!-- TODO - update static author to use user.name -->
      <p>submitted by {{p.author}}</p>
      <!-- <p>submitted by {{p.author.name}}</p> -->
      <!-- <p>submitted by {{post_author}}</p> -->

      <!-- TODO - update post_id to be a link to permalink -->
      <p>{{post_id}}</p>

    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
{% endblock %}
